<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Главная</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <% if (locals.user) { %>
        <div id="menu">
          <%# меню пользователей выполнивших вход%>
          <span class="name" style="color: white;"><%= locals.user.name %></span> <%# user.name для
          браузера то что пользователь послал в requeste%>
          <a
          type="button"
          class="btn btn-outline-primary me-2"
            href="/post"
            aria-current="page"
            >Новый пост</a>
          <a type="button" class="btn btn-primary" href="/logout">Выход</a>
        </div>
        <% } else { %>
        <div class="" id="menu">
          <%# //меню анонимных пользователей %>

          <a
            type="button"
            href="/login"
            class="btn btn-outline-primary me-2"
          >
            Вход
        </a>
          <a type="button" href="/register" class="btn btn-primary">
            Регистрация
          </a>
        <% } %>
      </form>
    </div>
  </div>
</nav>