<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fblog.vverh.digital%2F2020%2Fchto-takoe-error-404-page-not-found%2F&psig=AOvVaw0hPpC6S94ND59RHf1aFyt-&ust=1699704125657000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNjl9raxuYIDFQAAAAAdAAAAABAE"
      alt=""
    />
    <div id="background"></div>
    <div class="top">
      <h1>404</h1>
      <h3>page not found</h3>
    </div>

    <%if (err.status=404) {%>
    <h1><%=err.message%></h1>
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fblog.vverh.digital%2F2020%2Fchto-takoe-error-404-page-not-found%2F&psig=AOvVaw0hPpC6S94ND59RHf1aFyt-&ust=1699704125657000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNjl9raxuYIDFQAAAAAdAAAAABAE"
      alt=""
    />
    <%}%>

    <div class="container">
      <div class="ghost-copy">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
      </div>
      <div class="ghost">
        <div class="face">
          <div class="eye"></div>
          <div class="eye-right"></div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="shadow"></div>
    </div>
  </body>
</html>
