<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title><%=title%></title>
    <style>
      body {
        margin-top: 95px;
        background-color: #009393;
      }
      .form-login , h1 {
    text-align: center; /* Центрируем текст внутри элементов с классом "col-lg-4" */
    font-family: Playfair Display, serif;font-optical-sizing: auto;
font-weight: 400;
color: white;
}

p {
   max-width: 1300px;
    text-align: left;
    font-family: Playfair Display, serif;font-optical-sizing: auto;
font-weight: 400;
color: white;
}

.text {
    display: flex;
        justify-content: center;
}
.gerb, .karta {
        display: flex;
        justify-content: center;
    }

    h1 {
        text-align: center; /* Центрируем текст внутри элементов с классом "col-lg-4" */
    font-family: Playfair Display, serif;font-optical-sizing: auto;
font-weight: 700;
color: white;
    }
    h4 {
        text-align: center; /* Центрируем текст внутри элементов с классом "col-lg-4" */
    font-family: Playfair Display, serif;font-optical-sizing: auto;
font-weight: 700;
color: white;
font-size: 32px;
    }
    .fw-normal {
      font-size: 55px;
    }
    label {
      color: gray;
    }
    input {
      border: 5px solid #4EC3BD;
    }


    </style>
  </head>
  <body>



    <main class="form-login m-auto" style="width: 30%; padding: 20px">
      <form action="/login" method="post" id="myForm" novalidate>
        <img src="/img/image 10.png" alt="">
        <h1
          class="fw-normal"
          style="display: flex; justify-content: center; align-items: center"
        >
          ВХОД
        </h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="validationCustom01"
            placeholder="name@email.com"
            name="loginForm[email]"
            required=""
          />
          <label for="floatingInput">Логин</label>
        </div>
        <br />
        <div class="form-floating">
          <input
            type="password"
            class="form-control pas"
            id="validationCustomPas"
            placeholder="Введите пароль"
            name="loginForm[password]"
            required=""
          />
          <label for="floatingPassword">Пароль</label>
        </div>
        <br />
        <div style="text-align: center" id="message"></div>
        <br />
        <div
          class="row g-2 g-5"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div class="col-12 col-sm-6">
            У вас нет аккаунта?
            <a href="register" class="text-decoration-none">Регистрация</a>
          </div>
        </div>
        <br />
        <button
          class="btn btn-primary w-100 py-2"
          type="submit"
          style="background-color: #4EC3BD; border: 2px #4EC3BD solid"
        >
          Вход
        </button>
      </form>
    </main>
  </body>
</html>
