<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="./css/bootstrap-5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <main class="form-signup w-100 m-auto">
      <form method="POST">
        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
        <div class="row">
          </div>
          <div class="col-sm-6 col-12">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="name"
                id="floatingInput"
                placeholder="Имя"
              />
              <label for="floatingInput">Имя</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="form-floating mb-3">
              <input
                type="email"
                name="email"
                class="form-control"
                id="floatingInput"
                placeholder="you@example.com"
              />
              <label for="floatingInput">Почта</label>
            </div>
          </div>
          </div>
        </div>

        
        
        <div class="row">
          <div class="col-sm-6 col-12">
            <div class="form-floating mb-3">
              <input
              type="password"
              name="password"
              class="form-control"
              id="myInput"
                placeholder="Введите пароль"
                />
                <label for="floatingPassword">Введите пароль</label>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-12">
            <div class="form-floating mb-3">
              <input
                type="number"
                class="form-control"
                id="floatingAge"
                placeholder="Возраст"
                name="age"
              />
              <label for="floatingAge">Возраст</label>
            </div>
          </div>
        <input class="w-40 btn btn-lg btn-primary" type="submit">
      </form>
    </main>
    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
